@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    text-align: center;
    font-family: "IBM Plex Sans Thai", sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: large;
}
strong{
  color: #e6007e;          
  font-weight: 700;
}
.box{
    border: #e6007e solid 2px;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    width: 90vw;
    border-radius: 1rem;
}
.btd {
    width: 20rem;
    height: auto;
    border: #e6007e solid 1px;
    border-radius: 1rem;
    transition: transform 0.4s ease; 
}

.btd:hover {
    transform: scale(1.75); 
   
}